{{!-- <div class = "row art">
	<br />
	<br /> 
	<br /> 
	<div class="col s12 art-holder">
		{{#each artwork}}
			<img class="materialboxed {{tagClass}}" width="150" src={{imgUrl}} alt={{imgAlt}}>
		{{/each}}
	</div>
</div>
 --}}
 
<div class="cotainer">	
	<br />
	<br /> 
	<br /> 
	<div class="row">
		<div class="grid-row">
		 	{{#each artwork}}
		 	<div class="grid-column">
				<img class="{{tagClass}}" width="150" height="auto" src={{imgUrl}} alt={{imgAlt}}>
		  </div>
			{{/each}} 
		</div>
	</div>
</div>