 <div class="container-fluid portfolio-main scrollspy" id="Portfolio" > 

  <div class="section portfolio">
    <p class="center  blue-text flow-text">My Portfolio includes {{projects.length}} +  Web and Mobile Apps </p>
  </div>


    <div class="row">
      <!-- Row 1 -->

      <div class="s12 cards-container">
        <!-- Sabraang -->
        {{#each projects}}
        <div class="card projects">

          <div class="card-image  waves-block waves-light">
           

            <img alt={{title}} src={{image}} />
</a>

          </div>

          <div class="card-content">

            <h5>{{title}}</h5>


             <p class="light"><ul class = "browser-default" style = "padding-left:20px;">
              {{!-- {{oneLineDesc}} --}}
              {{#each fullDesc}}
              <li >{{this}}</li>
              {{/each}}
              
            </ul></p>

            <br>

            <div class = "techUsed">
              {{#each techUsed}}
                <div class = "chip" >
                  {{this}}
                </div>
              {{/each}}
            </div>

            <br>

            <div style="display:inline-block">
              
              {{#if liveLink}}
                <span class = "card-link">
                  <a href={{liveLink}} target = "_blank" class="btn btn-livelink waves"><i class="material-icons left ">wb_cloudy</i>Live Link</a>
                </span> 
              {{/if}}
              
              {{#if gitLink}}
                <span  >
                  <a href = {{gitLink}} target = "_blank" class="btn btn-github waves"> <i class="devicon-github-original left"></i>
  Code</a>
                </span>
              {{/if}}
            </div>
          
          </div>

        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>