 <div class="container-fluid portfolio-main scrollspy" id="Portfolio" > 

  <div class="section portfolio">
    <h5 class="center  blue-text">My Portfolio includes {{projects.length}} +  Web and mobile apps </h5>
        <div class="chips chips-initial "></div>
  </div>


    <div class="row">
      <!-- Row 1 -->

      <div class="s12 cards-container">
        <!-- Sabraang -->
        {{#each projects}}
        <div class="card projects">

          <div class="card-image  waves-block waves-light">
           

            <img alt={{title}} src={{image}}>
</a>

          </div>

          <div class="card-content">

            <h5>{{title}}</h5>


             <p class="light"><ul class = "browser-default" style = "padding-left:20px;">
              {{#each fullDesc}}
              <li >{{this}}</li>
              {{/each}}
              
            </ul></p>

            <br>

            <div class = "techUsed">
              {{#each techUsed}}
                <div class = "chip" >
                  {{this}}
                </div>
              {{/each}}
            </div>

            <br>

            <div style="display:inline-block">   <span class = "card-link" v-if = "project.liveLink != ''"><a href={{liveLink}} target = "_blank">Live Link</a></span> | 
            <span v-if = "project.gitLink != ''" ><a href = {{gitLink}} target = "_blank">Github Code</a></span>
</div>
          
          </div>

        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>